body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:0px;
    top:2px;
    width:974px;
    height:430px;
    overflow:hidden;
}

#pd3u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:430px;
    
}

.u1_container {
    position:absolute;
    left:-1px;
    top:2px;
    width:974px;
    height:428px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

.u2 {
    position:absolute;
    left:2px;
    top:206px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../we_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:789px;
    top:374px;
    width:116px;
    height:58px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:58px;
}

.u4 {
    position:absolute;
    left:2px;
    top:21px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:468px;
    top:383px;
    width:7px;
    height:7px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u6 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:485px;
    top:383px;
    width:7px;
    height:7px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u8 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../we_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:502px;
    top:381px;
    width:11px;
    height:11px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
}

.u10 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:448px;
    top:383px;
    width:7px;
    height:7px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u12 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:430px;
    
}

.u13_container {
    position:absolute;
    left:-1px;
    top:2px;
    width:974px;
    height:428px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

.u14 {
    position:absolute;
    left:2px;
    top:206px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../we_files/u3_normal.png');
}

.u15_container {
    position:absolute;
    left:789px;
    top:374px;
    width:116px;
    height:58px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:58px;
}

.u16 {
    position:absolute;
    left:2px;
    top:21px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u17_container {
    position:absolute;
    left:468px;
    top:383px;
    width:7px;
    height:7px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u18 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u19_container {
    position:absolute;
    left:506px;
    top:383px;
    width:7px;
    height:7px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u20 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../we_files/u9_normal.png');
}

.u21_container {
    position:absolute;
    left:485px;
    top:380px;
    width:11px;
    height:11px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u23_container {
    position:absolute;
    left:451px;
    top:383px;
    width:7px;
    height:7px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:430px;
    
}

.u25_container {
    position:absolute;
    left:-1px;
    top:2px;
    width:974px;
    height:428px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

.u26 {
    position:absolute;
    left:2px;
    top:206px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../we_files/u3_normal.png');
}

.u27_container {
    position:absolute;
    left:789px;
    top:374px;
    width:116px;
    height:58px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:58px;
}

.u28 {
    position:absolute;
    left:2px;
    top:21px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u29_container {
    position:absolute;
    left:485px;
    top:383px;
    width:7px;
    height:7px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u31_container {
    position:absolute;
    left:502px;
    top:383px;
    width:7px;
    height:7px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../we_files/u9_normal.png');
}

.u33_container {
    position:absolute;
    left:467px;
    top:381px;
    width:11px;
    height:11px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u35_container {
    position:absolute;
    left:446px;
    top:383px;
    width:7px;
    height:7px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:430px;
    
}

.u37_container {
    position:absolute;
    left:-1px;
    top:2px;
    width:974px;
    height:428px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

.u38 {
    position:absolute;
    left:2px;
    top:206px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../we_files/u3_normal.png');
}

.u39_container {
    position:absolute;
    left:789px;
    top:374px;
    width:116px;
    height:58px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:116px;
    height:58px;
}

.u40 {
    position:absolute;
    left:2px;
    top:21px;
    width:112px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../we_files/u9_normal.png');
}

.u41_container {
    position:absolute;
    left:446px;
    top:381px;
    width:11px;
    height:11px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
}

.u42 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u43_container {
    position:absolute;
    left:468px;
    top:383px;
    width:7px;
    height:7px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u44 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u45_container {
    position:absolute;
    left:485px;
    top:383px;
    width:7px;
    height:7px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u46 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../we_files/u5_normal.png');
}

.u47_container {
    position:absolute;
    left:502px;
    top:383px;
    width:7px;
    height:7px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u48 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

