body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:0px;
    top:2px;
    width:974px;
    height:430px;
    overflow:hidden;
}

#pd3u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:430px;
    
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

.u2 {
    position:absolute;
    left:2px;
    top:206px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:783px;
    top:362px;
    width:158px;
    height:52px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3_text_sketch {
    font-family: '微软雅黑';
}

.u4_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:432px;
    top:379px;
    width:7px;
    height:7px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:452px;
    top:379px;
    width:7px;
    height:7px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:472px;
    top:379px;
    width:7px;
    height:7px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../we_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:488px;
    top:377px;
    width:11px;
    height:11px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:430px;
    
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

.u13 {
    position:absolute;
    left:2px;
    top:206px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u14_container {
    position:absolute;
    left:491px;
    top:379px;
    width:7px;
    height:7px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:783px;
    top:362px;
    width:158px;
    height:52px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_text_sketch {
    font-family: '微软雅黑';
}

.u17_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u17_container {
    position:absolute;
    left:432px;
    top:379px;
    width:7px;
    height:7px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u18 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u19_container {
    position:absolute;
    left:452px;
    top:379px;
    width:7px;
    height:7px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u20 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../we_files/u10_normal.png');
}

.u21_container {
    position:absolute;
    left:470px;
    top:377px;
    width:11px;
    height:11px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:430px;
    
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

.u24 {
    position:absolute;
    left:2px;
    top:206px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u25_container {
    position:absolute;
    left:472px;
    top:378px;
    width:7px;
    height:7px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u26 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u27_container {
    position:absolute;
    left:491px;
    top:378px;
    width:7px;
    height:7px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:783px;
    top:362px;
    width:158px;
    height:52px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29_text_sketch {
    font-family: '微软雅黑';
}

.u30_normal {
    background-image: url('../we_files/u10_normal.png');
}

.u30_container {
    position:absolute;
    left:451px;
    top:376px;
    width:11px;
    height:11px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u32_container {
    position:absolute;
    left:432px;
    top:379px;
    width:7px;
    height:7px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:430px;
    
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:974px;
    height:428px;
}

.u35 {
    position:absolute;
    left:2px;
    top:206px;
    width:970px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u36_container {
    position:absolute;
    left:472px;
    top:378px;
    width:7px;
    height:7px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../we_files/u10_normal.png');
}

.u38_container {
    position:absolute;
    left:430px;
    top:376px;
    width:11px;
    height:11px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:11px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u40_container {
    position:absolute;
    left:454px;
    top:378px;
    width:7px;
    height:7px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../we_files/u4_normal.png');
}

.u42_container {
    position:absolute;
    left:491px;
    top:378px;
    width:7px;
    height:7px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:783px;
    top:362px;
    width:158px;
    height:52px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 18px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44_text_sketch {
    font-family: '微软雅黑';
}

