body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:20px;
    top:17px;
    width:976px;
    height:2045px;
    overflow:hidden;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:976px;
    height:2045px;
    
}

.u1_normal {
    background-image: url('../index_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:3px;
    top:-2px;
    width:153px;
    height:63px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:63px;
}

.u2 {
    position:absolute;
    left:2px;
    top:24px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../index_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:4px;
    width:941px;
    height:3px;
}

.u3 {
    position:absolute;
    left:3px;
    top:74px;
    width:941px;
    height:10px;
    
}

.u4_normal {
    background-image: url('../index_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:892px;
    top:19px;
    width:42px;
    height:42px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:42px;
}

.u5 {
    position:absolute;
    left:2px;
    top:13px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:102px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:16px;
    top:145px;
    width:449px;
    height:168px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:15px;
    top:443px;
    width:747px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:15px;
    top:582px;
    width:747px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:923px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../index_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:15px;
    top:982px;
    width:80px;
    height:80px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u12 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:44px;
    top:1076px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:32px;
    top:1099px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../index_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:147px;
    top:982px;
    width:80px;
    height:80px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u16 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../index_files/u11_normal.png');
}

.u17_container {
    position:absolute;
    left:279px;
    top:982px;
    width:80px;
    height:80px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u18 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../index_files/u11_normal.png');
}

.u19_container {
    position:absolute;
    left:411px;
    top:986px;
    width:80px;
    height:80px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u20 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../index_files/u11_normal.png');
}

.u21_container {
    position:absolute;
    left:543px;
    top:986px;
    width:80px;
    height:80px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u22 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:179px;
    top:1076px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:162px;
    top:1099px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:310px;
    top:1076px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:292px;
    top:1099px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:438px;
    top:1076px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:422px;
    top:1099px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:577px;
    top:1076px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:559px;
    top:1099px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../index_files/u11_normal.png');
}

.u31_container {
    position:absolute;
    left:675px;
    top:986px;
    width:80px;
    height:80px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u32 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:702px;
    top:1076px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:688px;
    top:1099px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:16px;
    top:340px;
    width:752px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:387px;
    top:1173px;
    width:323px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../index_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:13px;
    top:617px;
    width:723px;
    height:262px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:723px;
    height:262px;
}

.u38 {
    position:absolute;
    left:2px;
    top:123px;
    width:719px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:807px;
    top:106px;
    width:109px;
    height:25px;
    overflow:hidden;
}

#pd0u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:25px;
    
}

.u40_normal {
    background-image: url('../index_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:24px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:30px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../index_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:2766px;
    top:978px;
    width:26px;
    height:26px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u43 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../index_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:908px;
    top:110px;
    width:13px;
    height:16px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:22px;
}

.u45 {
    position:absolute;
    left:2px;
    top:0px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../index_files/u42_normal.png');
}

.u46_container {
    position:absolute;
    left:902px;
    top:105px;
    width:26px;
    height:26px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u47 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u48 {
    position:absolute;
    left:807px;
    top:150px;
    width:109px;
    height:25px;
    overflow:hidden;
}

#pd0u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:109px;
    height:25px;
    
}

.u49_normal {
    background-image: url('../index_files/u40_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:108px;
    height:24px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:30px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:104px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../index_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:893px;
    top:139px;
    width:44px;
    height:43px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:43px;
}

.u52 {
    position:absolute;
    left:2px;
    top:14px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u53 {
    position:absolute;
    left:15px;
    top:102px;
    width:195px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u54 {
    position:absolute;
    left:15px;
    top:922px;
    width:195px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u55_normal {
    background-image: url('../index_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:19px;
    top:631px;
    width:749px;
    height:292px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:749px;
    height:292px;
}

.u56 {
    position:absolute;
    left:2px;
    top:138px;
    width:745px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../index_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:957px;
    width:788px;
    height:185px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:788px;
    height:185px;
}

.u58 {
    position:absolute;
    left:2px;
    top:84px;
    width:784px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:15px;
    top:982px;
    width:99px;
    height:160px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u60 {
    position:absolute;
    left:147px;
    top:982px;
    width:99px;
    height:160px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:976px;
    height:2045px;
    
}

.u61_normal {
    background-image: url('../index_files/u1_normal.png');
}

.u61_container {
    position:absolute;
    left:2px;
    top:-2px;
    width:153px;
    height:63px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:153px;
    height:63px;
}

.u62 {
    position:absolute;
    left:2px;
    top:24px;
    width:149px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_line {
    background-image: url('../index_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:0px;
    top:4px;
    width:973px;
    height:3px;
}

.u63 {
    position:absolute;
    left:2px;
    top:74px;
    width:973px;
    height:10px;
    
}

.u64 {
    position:absolute;
    left:361px;
    top:577px;
    width:204px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../index_files/u4_normal.png');
}

.u65_container {
    position:absolute;
    left:534px;
    top:574px;
    width:42px;
    height:42px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:42px;
}

.u66 {
    position:absolute;
    left:2px;
    top:13px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:360px;
    top:534px;
    width:323px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../index_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:4px;
    width:973px;
    height:3px;
}

.u68 {
    position:absolute;
    left:2px;
    top:558px;
    width:973px;
    height:10px;
    
}

